*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

header{
    font-size: 4em;
    display:inline-block;
}

#library{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
    margin: 50px 10px 10px 10px;
}

.book{
    width: 100%;
    height: 240px;
    display: flex;
    flex-direction: column;
    padding:25px 0px 0px 10px;
    background: #78e1f9;
    line-height: 40px;
}

.modal-call{
    background-color: #00ff84;
    padding: 0px 10px 0px 10px;
    border-radius: 10px;
    font-size: 20px;
    height: 50px;
}

.modal-inputs{
    display: flex;
    flex-direction: column;
    margin: 10px 1px 10px 1px;
}

.modal-buttons{
    display: flex;
    justify-content: center;
}

.modal-inputs button{
    background:red;
}

.modal-wrapper{
    display:flex;
    align-items: center;
    place-content: space-between;
    padding: 20px 140px 10px 30px;
    align-items: center;
}

.modal-container{
    display:none;
}

.modal-open{
    position:fixed;
    z-index: 1000;
    width:100%;
    height:100vh;
    top:0;
    left:0;
    background:rgba(0,0,0,0.5);
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: start;
}

.modal{
    width: 40%;
    height: 60%;
    background-color: #fff;
    overflow: hidden;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.btn-close{
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
    width:30px;
    align-self:flex-end;
}